$light-purple: #815581;
$purple: #800080;
$purple-lower-opacity: #8000808C;
$dark-purple: #412344;

$light-orange: #fdf0e8da;
$orange-lower-opacity: #e964431f;
$orange-op-76: #E96443C2;
$orange: #E96443;
$dark-orange: #391208;

$white-lower-opacity: #FFFFFF1A;
$white-op-76: #FFFFFFC2;
$white: #FFFFFF;
$darker-white: #E9E9E9D1;
$light-grey: #D5D5D5;
$lighter-grey: #94928F;
$grey: #333333;
$black: #000000;
$black-lower-opacity: #0000004D