/* Compétences */
.html-bg {
    background-color: #DD4B25;
}

.css-bg {
    background-color: #006CB5;
}

.js-bg {
    background-color: #EED81D;
}

.react-bg {
    background-color: #60DAFB;
}

.bootstrap-bg {
    background-color: #7A52B3;
}

.scss-bg {
    background-color: #CD669A;
}

.php-bg {
    background-color: #777BB3;
}

.symfony-bg {
    background-color: $black;
}

.api-bg {
    background-color: #00ACB6;
}

.mysql-bg {
    background-color: #01618A;
}

.git-bg {
    background-color: #F15030;
}

.github-bg {
    background-color: #1B1F23;
}

.phpstorm-bg {
    background-color: #8D4DED;
}

.agile-bg {
    background-color: #6CD2A2;
}

.trello-bg {
    background-color: #24719F;
}

.fab, .fas, .devicon {
    font-size: 30px;
    color: $white;
}

div .fab, div .fas, div .devicon {
    text-align: center;
}

.skills-list .row {
    display: flex;
}

#front-list, #back-list, #db-list, #other-list {
    display: grid;
    grid-gap: 15px;
    padding-bottom: 15px;
    margin-top: 20px;

    @media screen and (max-width: 519px) {
        grid-template-columns: 1fr;
        margin: 5px 0 !important;

        .html-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }

        .css-column {
            grid-column: 1;
            grid-row: 2;
        }

        .scss-column {
            grid-column: 1;
            grid-row: 3;
        }

        .bootstrap-column {
            grid-column: 1;
            grid-row: 4;
        }

        .js-column {
            grid-column: 1;
            grid-row: 5;
        }

        .react-column {
            grid-column: 1;
            grid-row: 6;
        }


        .php-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }

        .symfony-column {
            grid-column: 1;
            grid-row: 2;
        }

        .api-column {
            grid-column: 1;
            grid-row: 3;
        }


        .mysql-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }


        .git-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }

        .github-column {
            grid-column: 1;
            grid-row: 2;
        }

        .phpstorm-column {
            grid-column: 1;
            grid-row: 3;
        }

        .agile-column {
            grid-column: 1;
            grid-row: 4;
        }

        .trello-column {
            grid-column: 1;
            grid-row: 5;
        }
    }

    @media screen and (min-width: 519px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .html-column {
            grid-column: 1;
            grid-row: 1;
        }

        .css-column {
            grid-column: 2;
            grid-row: 1;
        }

        .scss-column {
            grid-column: 1;
            grid-row: 2;
        }

        .bootstrap-column {
            grid-column: 2;
            grid-row: 2;
        }

        .js-column {
            grid-column: 1;
            grid-row: 3;
        }

        .react-column {
            grid-column: 2;
            grid-row: 3;
        }


        .php-column {
            grid-column: 1;
            grid-row: 1;
        }

        .symfony-column {
            grid-column: 2;
            grid-row: 1;
        }

        .api-column {
            grid-column: 1;
            grid-row: 2;

            h5 {
                font-size: 18px !important;
                margin-top: 5px;
            }
        }


        .mysql-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }


        .git-column {
            grid-column: 1;
            grid-row: 1;
        }

        .github-column {
            grid-column: 2;
            grid-row: 1;
        }

        .phpstorm-column {
            grid-column: 1;
            grid-row: 2;
        }

        .agile-column {
            grid-column: 2;
            grid-row: 2;

            h5 {
                font-size: 18px !important;
                padding-top: 0 !important;
            }

            .agile-bg {
                margin-right: 12px !important;
            }
        }

        .trello-column {
            grid-column: 1;
            grid-row: 3;
        }
    }

    @media screen and (min-width: 818px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));

        .html-column {
            grid-column: 1;
            grid-row: 1;
        }

        .css-column {
            grid-column: 2;
            grid-row: 1;
        }

        .scss-column {
            grid-column: 3;
            grid-row: 1;
        }

        .bootstrap-column {
            grid-column: 1;
            grid-row: 2;
        }

        .js-column {
            grid-column: 2;
            grid-row: 2;
        }

        .react-column {
            grid-column: 3;
            grid-row: 2;
        }


        .php-column {
            grid-column: 1;
            grid-row: 1;
        }

        .symfony-column {
            grid-column: 2;
            grid-row: 1;
        }

        .api-column {
            grid-column: 3;
            grid-row: 1;
        }


        .mysql-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }


        .git-column {
            grid-column: 1;
            grid-row: 1;
        }

        .github-column {
            grid-column: 2;
            grid-row: 1;
        }

        .phpstorm-column {
            grid-column: 3;
            grid-row: 1;
        }

        .agile-column {
            grid-column: 1;
            grid-row: 2;

            h5 {
                font-size: 18px !important;
                margin-top: 0px;
                padding-top: 0 !important;
            }

            .agile-bg {
                margin-right: 12px !important;
            }
        }

        .trello-column {
            grid-column: 2;
            grid-row: 2;
        }
    }

    @media screen and (min-width: 1067px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));

        .html-column {
            grid-column: 1;
            grid-row: 1;
        }

        .css-column {
            grid-column: 2;
            grid-row: 1;
        }

        .scss-column {
            grid-column: 3;
            grid-row: 1;
        }

        .bootstrap-column {
            grid-column: 4;
            grid-row: 1;
        }

        .js-column {
            grid-column: 1;
            grid-row: 2;
        }

        .react-column {
            grid-column: 2;
            grid-row: 2;
        }


        .php-column {
            grid-column: 1;
            grid-row: 1;
        }

        .symfony-column {
            grid-column: 2;
            grid-row: 1;
        }

        .api-column {
            grid-column: 3;
            grid-row: 1;
        }


        .mysql-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }


        .git-column {
            grid-column: 1;
            grid-row: 1;
        }

        .github-column {
            grid-column: 2;
            grid-row: 1;
        }

        .phpstorm-column {
            grid-column: 3;
            grid-row: 1;
        }

        .agile-column {
            grid-column: 4;
            grid-row: 1;

            .agile-bg {
                margin-right: 15px !important;
            }

            h5 {
                font-size: 18px !important;
                margin-top: 0;
            }
        }

        .trello-column {
            grid-column: 1;
            grid-row: 2;
        }
    }

    @media screen and (min-width: 1316px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));

        .html-column {
            grid-column: 1;
            grid-row: 1;
        }

        .css-column {
            grid-column: 2;
            grid-row: 1;
        }

        .scss-column {
            grid-column: 3;
            grid-row: 1;
        }

        .bootstrap-column {
            grid-column: 4;
            grid-row: 1;
        }

        .js-column {
            grid-column: 5;
            grid-row: 1;
        }

        .react-column {
            grid-column: 1;
            grid-row: 2;
        }


        .php-column {
            grid-column: 1;
            grid-row: 1;
        }

        .symfony-column {
            grid-column: 2;
            grid-row: 1;
        }

        .api-column {
            grid-column: 3;
            grid-row: 1;
        }


        .mysql-column {
            flex-direction: column;
            grid-column: 1;
            grid-row: 1;
        }


        .git-column {
            grid-column: 1;
            grid-row: 1;
        }

        .github-column {
            grid-column: 2;
            grid-row: 1;
        }

        .phpstorm-column {
            grid-column: 3;
            grid-row: 1;
        }

        .agile-column {
            grid-column: 4;
            grid-row: 1;

            .agile-bg {
                margin-right: 18px !important;
            }

            h5 {
                font-size: 19px !important;
                margin-top: 0;
            }
        }

        .trello-column {
            grid-column: 5;
            grid-row: 1;
        }
    }

    .column {
        float: left;
        margin-top: 0!important;
        height: 100%;

        &.hidden {
            height: 75px;
            transition: height .7s;
        }

        @media screen and (max-width: 322px) {
            &.api-column {
                h5 {
                    font-size: 19px !important;    
                }

                .api-bg {
                    margin-right: 12px !important;
                }
            }

            &.agile-column {
                h5 {
                    font-size: 19px !important;
                }

                .agile-bg {
                    margin-right: 12px !important;
                }
            }
        }

        @media screen and (min-width: 550px) {
            &.agile-column h5 {
                padding-top: 8px !important;
            }
        }

        @media screen and (min-width: 551px) {
            .api-bg {
                margin-right: 12px !important;
            }

            .agile-bg {
                margin-right: 12px !important;
            }

            &.agile-column {
                h5 {
                    font-size: 16px !important;
                    margin-top: 5px;
                }
            }
        }

        @media screen and (min-width: 597px) {
            .agile-column {
                h5 {
                    padding-top: 8px !important;
                }
                
                .agile-bg {
                    margin-right: 20px !important;
                }
            }
        }

        @media screen and (min-width: 654px) {            
            .agile-column {
                h5 {
                    font-size: 19px !important;
                }
                
                .agile-bg {
                    margin-right: 20px !important;
                }
            }
        }

        @media screen and (min-width: 843px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 0px;
                }
                
                .agile-bg {
                    margin-right: 15px !important;
                }
            }
        }

        @media screen and (min-width: 877px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 10px;
                }
                
                .agile-bg {
                    margin-right: 15px !important;
                }
            } 
        }

        @media screen and (min-width: 940px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 10px;
                }
                
                .agile-bg {
                    margin-right: 20px !important;
                }
            } 
        }

        @media screen and (min-width: 1115px) {
            .agile-column {
                h5 {
                    font-size: 18px !important;
                    margin-top: 0;
                }
                
                .agile-bg {
                    margin-right: 18px !important;
                }
            } 
        }

        @media screen and (min-width: 1115px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 0;
                }
                
                .agile-bg {
                    margin-right: 18px !important;
                }
            } 
        }

        @media screen and (min-width: 1159px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 10px;
                }
                
                .agile-bg {
                    margin-right: 18px !important;
                }
            } 
        }

        @media screen and (min-width: 1201px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 10px;
                }
                
                .agile-bg {
                    margin-right: 18px !important;
                }
            } 
        }
        
        @media screen and (min-width: 1433px) {
            .agile-column {
                h5 {
                    font-size: 19px !important;
                    margin-top: 10px;
                }
                
                .agile-bg {
                    margin-right: 18px !important;
                }
            } 
        }
        
        .content {
            background-color: $light-orange;
            box-shadow: 0 5px 10px $darker-white;
            border-radius: 20px;
            padding: 10px;
            margin-top: 0!important;
            height: 100%;
            transition: all .3s;
            overflow: hidden;
    
            &.hidden {
                height: 65px;
                transition: all .6s;
            }
    
            &:hover {
                cursor: pointer;
            }
    
            h5 {
                height: 55px;
                font-size: 21px;
                font-family: "Marker", serif ;
                padding-top: 5px;
            }
    
            p {
                padding: 0 10px;
                visibility: visible;
                opacity: 1;
                transition: all .8s;
    
                &.hidden {
                    visibility: hidden;
                    opacity: 0;
                    padding: 0 10px;
                    transition: all .1s;
                }
            }
        }
    
        .square {
            height: 45px;
            width: 45px;
            border-radius: 10px;
            margin: 0 20px 0 20px!important;
            float: left;
            display: flex;
    
            i {
                margin: auto;
            }
    
    
            @media screen and (min-width: 532px) {
                &.agile-bg {
                    margin-right: 20px !important;
                }
            }
    
            @media screen and (min-width: 567px) {
                &.api-bg {
                    margin-right: 20px !important;
                }
            }
        }
    }
}
